<%- include ('../partials/header') %>
<body>
	<%- include ('../partials/menu') %>
	<div class="container-fluid py-4" id="content">
		<div class="row" id="gallery" data-isotope='{"percentPosition": true }'>
			<p class="text-light">Enter your query above to search for photos from Flickr!</p>
			<!-- Auto-populated -->
		</div>
	</div>
</body>
<footer>
	<%- include('../partials/footer') %>
</footer>
</html>