<%- include ('../partials/header') %>
<body>
	<%- include ('../partials/menu') %>
	<div class="container-fluid py-4" id="content">
		<div class="container">
			<div class="row" id="name-header">
				<h1 class="col-auto pr-0" style="color: turquoise;">Vogenthaler, James</h1>
				<h3 class="col-auto pb-1" style="color: greenyellow;">Software Development Methods and Tools</h2>
			</div>
			<div class="row">
				<div class="col-lg-3 order-lg-2 mx-auto">
					<img class="rounded-circle mt-4 mb-4 mx-auto d-block" id="bio-photo" src="/resources/img/photo.png" width="100%" height="auto" alt="Profile Photo" onerror=this.src="img/image_not_found.jpeg"/>
					<div class="card border-secondary bg-dark text-light text-start p-3 mb-4">
						<h3 class="card-title">Bio</h3>
						<p class="card-text">
							I am a Japanese-American non-traditional student who has spent several years working as a private tutor while also serving in the Army Reserves.
							I have spent several months in Japan, I have a two year old son, and I am a self-taught coder.
						</p>
					</div>
				</div>
				<div class="col-lg-9 pl-0 text-start">
					<h3 class="card-title text-light mt-3">Interests</h3>
					<div class="card border border-secondary bg-dark text-light mb-4">
						<div class="row no-gutters">
							<div class="col-lg-5 col-lg-push-7">
								<img class="card-img-top mw-100" src="https://marvel-b1-cdn.bc0a.com/f00000000075552/www.perforce.com/sites/default/files/image/2020-08/image-blog-game-design-process.jpg" onerror=this.src="img/image_not_found.jpeg"/>
							</div>
							<div class="col-lg-7 col-lg-pull-5 p-3">
								<h5 class="card-title">Game Design</h5>
								<p class ="card-text">
									I enjoy game design because it combines a technical challenge
									with creative freedom. There is something enticing about having
									the ability to shape your own fictional world with its own physical
									laws and boundaries. Beyond the processor, the only limit is your
									imagination.
								</p>
							</div>
						</div>
					</div>
					<div class="card border border-secondary bg-dark text-light mb-4">
						<div class="row no-gutters">
							<div class="col-lg-5 col-lg-push-7">
								<img class="card-img-top mw-100" src="https://i.pinimg.com/originals/a7/78/ec/a778ec1bcedee6615c6118d92e316540.gif" onerror=this.src="img/image_not_found.jpeg"/>
							</div>
							<div class="col-lg-7 col-lg-pull-5 p-3">
								<h5 class="card-title">Board Games</h5>
								<p class ="card-text">
									I love gaming in general. However, there's something about
									board games and table-top gaming that virtual games do not
									have. That sense of instant connection with the other players
									makes every loss feels more personal and every victory better earned.
								</p>
							</div>
						</div>
					</div>
					<div class="card border border-secondary bg-dark text-light mb-4">
						<div class="row no-gutters">
							<div class="col-lg-5 col-lg-push-7">
								<img class="card-img-top mw-100" src="https://image.freepik.com/free-vector/vector-hand-drawn-work-time-concept-sketch-with-businessman-hands-desktop-making-notes-paper-notebook_160308-2936.jpg" onerror=this.src="img/image_not_found.jpeg"/>
							</div>
							<div class="col-lg-7 col-lg-pull-5 p-3">
								<h5 class="card-title">Sketching</h5>
								<p class ="card-text">
									I can sketch for hours on end without break.
									I find it relaxing to capture an image on paper.
									It often feels like I'm entranced;
									like I am in a state of total-focus while capturing every detail.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
<footer>
	<%- include('../partials/footer') %>
</footer>
</html>